.card-columns
  - projects.each do |project|
    %div.card.bg-dark{id: "#{project.repo.sub(/\./, '-').sub(/\//, '-')}"}
      .card-header
        .display-6 #{project.name}
      .card-body
        %a.card-link{href: "https://#{project.host}/#{project.repo}"}
          #{project.repo}
        - if project.host == 'github.com'
          %span On GitHub
        - elsif project.host == 'gitlab.com' or project.host == 'gitlab.org'
          %span On GitLab
        - else
          %span On #{project.host}
        %a.card-link{href: "https://#{request.host}/webhook/#{project.name}"}
      .card-footer